<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.metadata.mds.scan</key>
	<true/>
	<key>com.apple.asr</key>
	<true/>
	<key>com.apple.modelcatalogd</key>
	<true/>
	<key>com.apple.biomed</key>
	<true/>
	<key>com.apple.storereceiptinstaller</key>
	<true/>
	<key>com.apple.suhelperd</key>
	<true/>
	<key>com.apple.seld</key>
	<true/>
	<key>com.apple.inputanalyticsd</key>
	<true/>
	<key>com.apple.systemstats.microstackshot_periodic</key>
	<true/>
	<key>com.apple.coresymbolicationd</key>
	<true/>
	<key>com.apple.symptomsd</key>
	<true/>
	<key>com.apple.AppSSOAgent.login</key>
	<true/>
	<key>com.apple.autofsd</key>
	<true/>
	<key>com.apple.AirPlayXPCHelper</key>
	<true/>
	<key>com.apple.symptomsd-diag</key>
	<true/>
	<key>com.apple.PerfPowerTelemetryClientRegistrationService</key>
	<true/>
	<key>com.apple.CSCSupportd</key>
	<true/>
	<key>com.apple.corespeechd_system</key>
	<true/>
	<key>com.apple.contextstored</key>
	<true/>
	<key>com.apple.nearbyd</key>
	<true/>
	<key>com.apple.AppStoreDaemon.StorePrivilegedODRService</key>
	<true/>
	<key>com.apple.networkserviceproxy</key>
	<true/>
	<key>com.apple.cmio.registerassistantservice</key>
	<true/>
	<key>com.apple.cameracaptured</key>
	<true/>
	<key>com.apple.countryd</key>
	<true/>
	<key>com.apple.findmymacmessenger</key>
	<true/>
	<key>com.apple.icloud.searchpartyd</key>
	<true/>
	<key>com.apple.aslmanager</key>
	<true/>
	<key>com.apple.mdmclient.daemon</key>
	<true/>
	<key>com.apple.ctkd</key>
	<true/>
	<key>com.apple.accessoryupdaterd</key>
	<true/>
	<key>com.apple.screensharing</key>
	<true/>
	<key>com.apple.appleh13camerad</key>
	<true/>
	<key>com.openssh.sshd</key>
	<false/>
	<key>com.apple.mdmclient.daemon.runatboot</key>
	<true/>
	<key>com.apple.metadata.mds.index</key>
	<true/>
	<key>com.apple.speech.speechdatainstallerd</key>
	<true/>
	<key>com.apple.wifip2pd</key>
	<true/>
	<key>com.apple.AssetCacheTetheratorService</key>
	<true/>
	<key>com.apple.appleh16camerad</key>
	<true/>
	<key>com.apple.threadradiod</key>
	<true/>
	<key>com.apple.systemstats.analysis</key>
	<true/>
	<key>com.apple.netbiosd</key>
	<true/>
	<key>com.apple.timesync.audioclocksyncd</key>
	<true/>
	<key>com.apple.SafariPlatformSupport.Helper</key>
	<true/>
	<key>com.apple.PerfPowerServices</key>
	<true/>
	<key>com.apple.corerepaird</key>
	<true/>
	<key>com.apple.XProtect.daemon.scan.startup</key>
	<true/>
	<key>com.apple.XprotectFramework.PluginService</key>
	<true/>
	<key>com.apple.powerlogHelperd</key>
	<true/>
	<key>com.apple.ftpd</key>
	<true/>
	<key>com.apple.modelmanagerd</key>
	<true/>
	<key>com.apple.coreduetd</key>
	<true/>
	<key>com.apple.avconferenced</key>
	<true/>
	<key>com.apple.rapportd</key>
	<true/>
	<key>com.apple.AssetCache.builtin</key>
	<true/>
	<key>com.apple.fairplayd</key>
	<true/>
	<key>com.apple.locationd</key>
	<true/>
	<key>com.apple.icloud.findmydeviced</key>
	<true/>
	<key>com.apple.dmd</key>
	<true/>
	<key>com.apple.UserNotificationCenter</key>
	<true/>
	<key>com.apple.rtcreportingd</key>
	<true/>
	<key>com.apple.usbctelemetryd</key>
	<true/>
	<key>com.apple.GSSCred</key>
	<true/>
	<key>com.apple.captiveagent</key>
	<true/>
	<key>com.apple.dhcp6d</key>
	<true/>
	<key>com.apple.uarpd</key>
	<true/>
	<key>com.apple.diagnosticextensions.osx.spotlight.helper</key>
	<true/>
	<key>com.apple.cmio.iOSScreenCaptureAssistant</key>
	<true/>
	<key>com.apple.cmio.videodriverkithostextension</key>
	<true/>
	<key>com.apple.metadata.mdwrite</key>
	<true/>
	<key>com.apple.revisiond</key>
	<true/>
	<key>com.apple.softwareupdated</key>
	<true/>
	<key>com.apple.AssetCacheLocatorService</key>
	<true/>
	<key>com.apple.findmymacd</key>
	<true/>
	<key>com.apple.metrickitd</key>
	<true/>
	<key>com.apple.audioanalyticsd</key>
	<true/>
	<key>com.apple.ReportCrash.Root</key>
	<true/>
	<key>com.apple.swtransparencyd</key>
	<true/>
	<key>com.apple.AppSSODaemon</key>
	<true/>
	<key>com.apple.Kerberos.digest-service</key>
	<true/>
	<key>com.apple.bootinstalld</key>
	<true/>
	<key>com.apple.icdd</key>
	<true/>
	<key>com.apple.mobilerepaird</key>
	<true/>
	<key>com.apple.security.syspolicy</key>
	<true/>
	<key>com.apple.security.xprotectd</key>
	<true/>
	<key>com.apple.msrpc.mdssvc</key>
	<true/>
	<key>com.apple.mobile.notification_proxy</key>
	<true/>
	<key>com.apple.InstallerDiagnostics.installerdiagd</key>
	<true/>
	<key>com.apple.wifianalyticsd</key>
	<true/>
	<key>com.apple.managedappdistributiond</key>
	<true/>
	<key>com.apple.devicemanagementclient.managedeventsd</key>
	<true/>
	<key>com.apple.metadata.mds</key>
	<true/>
	<key>com.apple.AppStoreDaemon.StoreAEService</key>
	<true/>
	<key>com.apple.mobile.softwareupdated</key>
	<true/>
	<key>com.apple.cmio.VDCAssistant</key>
	<true/>
	<key>com.apple.backupd</key>
	<true/>
	<key>com.apple.osanalytics.osanalyticshelper</key>
	<true/>
	<key>com.apple.remotemanagementd</key>
	<true/>
	<key>com.apple.gssd</key>
	<true/>
	<key>com.apple.familycontrols</key>
	<true/>
	<key>com.apple.ecosystemanalyticsd</key>
	<true/>
	<key>com.apple.CryptoTokenKit.ahp</key>
	<true/>
	<key>com.apple.metadata.mdbulkimport</key>
	<true/>
	<key>com.apple.appstored</key>
	<true/>
	<key>com.apple.AppStoreDaemon.StorePrivilegedTaskService</key>
	<true/>
	<key>com.apple.AssetCacheManagerService</key>
	<true/>
	<key>com.apple.mobileassetd</key>
	<true/>
	<key>com.apple.installcoordinationd</key>
	<true/>
	<key>com.apple.cmio.uvcassistantextension</key>
	<true/>
	<key>com.apple.wallpaper.export</key>
	<true/>
	<key>com.apple.findmy.findmybeaconingd</key>
	<true/>
	<key>com.apple.nfcd</key>
	<true/>
	<key>com.apple.gamepolicyd</key>
	<true/>
	<key>com.apple.GameController.gamecontrollerd</key>
	<true/>
	<key>com.apple.backupd-helper</key>
	<true/>
	<key>com.apple.apsd</key>
	<true/>
	<key>com.apple.analyticsd</key>
	<true/>
	<key>com.apple.geoanalyticsd</key>
	<true/>
	<key>com.apple.systemstats.daily</key>
	<true/>
	<key>com.apple.triald_system</key>
	<true/>
	<key>com.apple.eligibilityd</key>
	<true/>
	<key>com.apple.warmd</key>
	<true/>
	<key>com.apple.dasd</key>
	<true/>
	<key>com.apple.backgroundtaskmanagementd</key>
	<true/>
	<key>com.apple.XProtect.daemon.scan</key>
	<true/>
	<key>com.apple.metadata.mds.spindump</key>
	<true/>
	<key>com.apple.fairplaydeviceidentityd</key>
	<true/>
	<key>com.apple.installcoordination_proxy</key>
	<true/>
	<key>com.apple.diagnosticextensions.osx.timemachine.helper</key>
	<true/>
	<key>com.apple.UserNotificationCenterAgent-LoginWindow</key>
	<true/>
	<key>com.apple.InstallerDiagnostics.installerdiagwatcher</key>
	<true/>
	<key>com.apple.perfpowermetricd</key>
	<true/>
	<key>com.apple.triald.system</key>
	<true/>
	<key>com.apple.ftp-proxy</key>
	<true/>
</dict>
</plist>
