<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.quicklook</key>
	<true/>
	<key>com.apple.assistant_service</key>
	<true/>
	<key>com.apple.intelligenceplatformd</key>
	<true/>
	<key>com.apple.ospredictiond</key>
	<true/>
	<key>com.apple.bluetoothuserd</key>
	<true/>
	<key>com.apple.amp.mediasharingd</key>
	<true/>
	<key>com.apple.bird</key>
	<true/>
	<key>com.apple.cloudphotod</key>
	<true/>
	<key>com.apple.SafariBookmarksSyncAgent</key>
	<true/>
	<key>com.apple.commerce</key>
	<true/>
	<key>com.apple.AssetCache.agent</key>
	<true/>
	<key>com.apple.photolibraryd</key>
	<true/>
	<key>com.apple.homed</key>
	<true/>
	<key>com.apple.ThreadCommissionerService</key>
	<true/>
	<key>com.apple.ManagedSettingsAgent</key>
	<true/>
	<key>com.apple.AddressBook.SourceSync</key>
	<true/>
	<key>com.apple.GameController.gamecontrolleragentd</key>
	<true/>
	<key>com.apple.familynotificationd</key>
	<true/>
	<key>com.apple.ecosystemd</key>
	<true/>
	<key>com.apple.ndoagent</key>
	<true/>
	<key>com.apple.CommCenter</key>
	<true/>
	<key>com.apple.quicklook.ThumbnailsAgent</key>
	<true/>
	<key>com.apple.voicebankingd</key>
	<true/>
	<key>com.apple.ContextStoreAgent</key>
	<true/>
	<key>com.apple.facetimemessagestored</key>
	<true/>
	<key>com.apple.callhistoryd</key>
	<true/>
	<key>com.apple.cloudd</key>
	<true/>
	<key>com.apple.amsondevicestoraged</key>
	<true/>
	<key>com.apple.ap.promotedcontentd</key>
	<true/>
	<key>com.apple.ap.adprivacyd</key>
	<true/>
	<key>com.apple.homeenergyd</key>
	<true/>
	<key>com.apple.ScreenTimeAgent</key>
	<true/>
	<key>com.apple.contacts.postersyncd</key>
	<true/>
	<key>com.apple.peopled</key>
	<true/>
	<key>com.apple.gamesaved</key>
	<true/>
	<key>com.apple.UserNotificationCenterAgent</key>
	<true/>
	<key>com.apple.AOSPushRelay</key>
	<true/>
	<key>com.apple.accessibility.axassetsd</key>
	<true/>
	<key>com.apple.Safari.SafeBrowsing.Service</key>
	<true/>
	<key>com.apple.apfsuseragent</key>
	<true/>
	<key>com.apple.applespell</key>
	<true/>
	<key>com.apple.Siri.agent</key>
	<true/>
	<key>com.apple.speech.synthesisserver</key>
	<true/>
	<key>com.apple.SiriTTSTrainingAgent</key>
	<true/>
	<key>com.apple.duetexpertd</key>
	<true/>
	<key>com.apple.CallHistoryPluginHelper</key>
	<true/>
	<key>com.apple.coreservices.useractivityd</key>
	<true/>
	<key>com.apple.cmio.ContinuityCaptureAgent</key>
	<true/>
	<key>com.apple.mediacontinuityd</key>
	<true/>
	<key>com.apple.FeatureAccessAgent</key>
	<true/>
	<key>com.apple.storeaccountd</key>
	<true/>
	<key>com.apple.storeuid</key>
	<true/>
	<key>com.apple.appplaceholdersyncd</key>
	<true/>
	<key>com.apple.icloud.searchpartyuseragent</key>
	<true/>
	<key>com.apple.homeeventsd</key>
	<true/>
	<key>com.apple.liveactivitiesd</key>
	<true/>
	<key>com.apple.askpermissiond</key>
	<true/>
	<key>com.apple.remindd</key>
	<true/>
	<key>com.apple.AddressBook.AssistantService</key>
	<true/>
	<key>com.apple.contacts.donation-agent</key>
	<true/>
	<key>com.apple.GamePolicyAgent</key>
	<true/>
	<key>com.apple.SafariNotificationAgent</key>
	<true/>
	<key>com.apple.diagnosticspushd</key>
	<true/>
	<key>com.apple.triald</key>
	<true/>
	<key>com.apple.AccessibilityVisualsAgent</key>
	<true/>
	<key>com.apple.coreservices.uiagent</key>
	<true/>
	<key>com.apple.XprotectFramework.PluginService</key>
	<true/>
	<key>com.apple.FolderActionsDispatcher</key>
	<true/>
	<key>com.apple.mdworker.shared</key>
	<true/>
	<key>com.apple.generativeexperiencesd</key>
	<true/>
	<key>com.apple.identityservicesd</key>
	<true/>
	<key>com.apple.CallHistorySyncHelper</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<true/>
	<key>com.apple.security.cloudkeychainproxy3</key>
	<true/>
	<key>com.apple.storedownloadd</key>
	<true/>
	<key>com.apple.storekitagent</key>
	<true/>
	<key>com.apple.CoreLocationAgent</key>
	<true/>
	<key>com.apple.weatherd</key>
	<true/>
	<key>com.apple.followupd</key>
	<true/>
	<key>com.apple.SoftwareUpdateNotificationManager</key>
	<true/>
	<key>com.apple.webkit.webpushd</key>
	<true/>
	<key>com.apple.usbnotificationagent</key>
	<true/>
	<key>com.apple.analyticsagent</key>
	<true/>
	<key>com.apple.feedbackd</key>
	<true/>
	<key>com.apple.AppSSOAgent</key>
	<true/>
	<key>com.apple.AMPDeviceDiscoveryAgent</key>
	<true/>
	<key>com.apple.TextInputUI.xpc.CursorUIViewService</key>
	<true/>
	<key>com.apple.backgroundtaskmanagement.agent</key>
	<true/>
	<key>com.apple.XProtect.agent.scan</key>
	<true/>
	<key>com.apple.spotlightknowledged</key>
	<true/>
	<key>com.apple.assistant_cdmd</key>
	<true/>
	<key>com.apple.routined</key>
	<true/>
	<key>com.apple.BiomeAgent</key>
	<true/>
	<key>com.apple.imagent</key>
	<true/>
	<key>com.apple.imcore.imtransferagent</key>
	<true/>
	<key>com.apple.sharingd</key>
	<true/>
	<key>com.apple.intelligentroutingd</key>
	<true/>
	<key>com.apple.RapportUIAgent</key>
	<true/>
	<key>com.apple.sidecar-relay</key>
	<true/>
	<key>com.apple.companiond</key>
	<true/>
	<key>com.apple.FileProvider</key>
	<true/>
	<key>com.apple.cloudsettingssyncagent</key>
	<true/>
	<key>com.apple.cdpd</key>
	<true/>
	<key>com.apple.protectedcloudstorage.protectedcloudkeysyncing</key>
	<true/>
	<key>com.apple.storeassetd</key>
	<true/>
	<key>com.apple.storelegacy</key>
	<true/>
	<key>com.apple.amsaccountsd</key>
	<true/>
	<key>com.apple.photoanalysisd</key>
	<true/>
	<key>com.apple.familycircled</key>
	<true/>
	<key>com.apple.sportsd</key>
	<true/>
	<key>com.apple.mobiletimerd</key>
	<true/>
	<key>com.apple.usernotificationsd</key>
	<true/>
	<key>com.apple.notificationcenterui.agent</key>
	<true/>
	<key>com.apple.iCloudNotificationAgent</key>
	<true/>
	<key>com.apple.iCloudUserNotificationsd</key>
	<true/>
	<key>com.apple.imklaunchagent</key>
	<true/>
	<key>com.apple.talagent</key>
	<true/>
	<key>com.apple.appleseed.seedusaged.postinstall</key>
	<true/>
	<key>com.apple.quicklook.ui.helper</key>
	<true/>
	<key>com.apple.helpd</key>
	<true/>
	<key>com.apple.assistantd</key>
	<true/>
	<key>com.apple.DictationIM</key>
	<true/>
	<key>com.apple.voicememod</key>
	<true/>
	<key>com.apple.biomesyncd</key>
	<true/>
	<key>com.apple.screensharing.MessagesAgent</key>
	<true/>
	<key>com.apple.email.maild</key>
	<true/>
	<key>com.apple.ensemble</key>
	<true/>
	<key>com.apple.mediaanalysisd</key>
	<true/>
	<key>com.apple.findmy.findmylocateagent</key>
	<true/>
	<key>com.apple.UsageTrackingAgent</key>
	<true/>
	<key>com.apple.sociallayerd</key>
	<true/>
	<key>com.apple.donotdisturbd</key>
	<true/>
	<key>com.apple.financed</key>
	<true/>
	<key>com.apple.passd</key>
	<true/>
	<key>com.apple.gamed</key>
	<true/>
	<key>com.apple.GameOverlayUI</key>
	<true/>
	<key>com.apple.studentd</key>
	<true/>
	<key>com.apple.assessmentagent</key>
	<true/>
	<key>com.apple.ReportCrash</key>
	<true/>
	<key>com.apple.AccessibilityUIServer</key>
	<true/>
	<key>com.apple.mdmclient.agent</key>
	<true/>
	<key>com.apple.wifi.WiFiAgent</key>
	<true/>
	<key>com.apple.ScriptMenuApp</key>
	<true/>
	<key>com.apple.Spotlight</key>
	<true/>
	<key>com.apple.corespotlightd</key>
	<true/>
	<key>com.apple.chronod</key>
	<true/>
	<key>com.apple.corespeechd</key>
	<true/>
	<key>com.apple.speech.speechsynthesisd.arm64</key>
	<true/>
	<key>com.apple.ModelCatalogAgent</key>
	<true/>
	<key>com.apple.textcomposerd</key>
	<true/>
	<key>com.apple.proactived</key>
	<true/>
	<key>com.apple.proactiveeventtrackerd</key>
	<true/>
	<key>com.apple.translationd</key>
	<true/>
	<key>com.apple.idsfoundation.IDSRemoteURLConnectionAgent</key>
	<true/>
	<key>com.apple.linkd</key>
	<true/>
	<key>com.apple.syncdefaultsd</key>
	<true/>
	<key>com.apple.Safari.History</key>
	<true/>
	<key>com.apple.appstoreagent</key>
	<true/>
	<key>com.apple.appstorecomponentsd</key>
	<true/>
	<key>com.apple.amsengagementd</key>
	<true/>
	<key>com.apple.itunescloudd</key>
	<true/>
	<key>com.apple.geodMachServiceBridge</key>
	<true/>
	<key>com.apple.geod</key>
	<true/>
	<key>com.apple.milod</key>
	<true/>
	<key>com.apple.icloud.findmydeviced.findmydevice-user-agent</key>
	<true/>
	<key>com.apple.contactsd</key>
	<true/>
	<key>com.apple.AddressBook.abd</key>
	<true/>
	<key>com.apple.calaccessd</key>
	<true/>
	<key>com.apple.TMHelperAgent</key>
	<true/>
	<key>com.apple.usernoted</key>
	<true/>
	<key>com.apple.accessibility.heard</key>
	<true/>
	<key>com.apple.AuthenticationServicesCore.AuthenticationServicesAgent</key>
	<true/>
	<key>com.apple.XProtect.agent.scan.startup</key>
	<true/>
</dict>
</plist>
