<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.ManagedClientAgent.enrollagent</key>
	<true/>
	<key>com.apple.Siri.agent</key>
	<true/>
	<key>com.apple.FolderActionsDispatcher</key>
	<true/>
	<key>com.apple.ScriptMenuApp</key>
	<true/>
</dict>
</plist>
