<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.AddressBook.SourceSync</key>
	<true/>
	<key>com.apple.AirPlayXPCHelper</key>
	<true/>
	<key>com.apple.AppSSOAgent.login</key>
	<true/>
	<key>com.apple.AssetCache.agent</key>
	<true/>
	<key>com.apple.CommCenter</key>
	<true/>
	<key>com.apple.GameController.gamecontrolleragentd</key>
	<true/>
	<key>com.apple.MENotificationService</key>
	<true/>
	<key>com.apple.ManagedSettingsAgent</key>
	<true/>
	<key>com.apple.MobileSMS.MessagesActionExtension</key>
	<true/>
	<key>com.apple.PerfPowerTelemetryClientRegistrationService</key>
	<true/>
	<key>com.apple.SafariBookmarksSyncAgent</key>
	<true/>
	<key>com.apple.SafariHistoryServiceAgent</key>
	<true/>
	<key>com.apple.ThreadCommissionerService</key>
	<true/>
	<key>com.apple.UserPictureSyncAgent</key>
	<true/>
	<key>com.apple.amp.mediasharingd</key>
	<true/>
	<key>com.apple.asr</key>
	<true/>
	<key>com.apple.assistant_service</key>
	<true/>
	<key>com.apple.bird</key>
	<true/>
	<key>com.apple.cloudphotod</key>
	<true/>
	<key>com.apple.cmio.LaunchCMIOUserExtensionsAgent</key>
	<true/>
	<key>com.apple.commerce</key>
	<true/>
	<key>com.apple.dataaccess.dataaccessd</key>
	<true/>
	<key>com.apple.diagnosticextensionsd</key>
	<true/>
	<key>com.apple.ecosystemd</key>
	<true/>
	<key>com.apple.familycontrols.useragent</key>
	<true/>
	<key>com.apple.familynotificationd</key>
	<true/>
	<key>com.apple.homed</key>
	<true/>
	<key>com.apple.iCloudUserNotifications</key>
	<true/>
	<key>com.apple.inputanalyticsd</key>
	<true/>
	<key>com.apple.intelligenceplatformd</key>
	<true/>
	<key>com.apple.knowledgeconstructiond</key>
	<true/>
	<key>com.apple.metadata.mds.index.readonly</key>
	<true/>
	<key>com.apple.metadata.mds.scan</key>
	<true/>
	<key>com.apple.modelcatalogd</key>
	<true/>
	<key>com.apple.ndoagent</key>
	<true/>
	<key>com.apple.ospredictiond</key>
	<true/>
	<key>com.apple.photolibraryd</key>
	<true/>
	<key>com.apple.progressd</key>
	<true/>
	<key>com.apple.screensharing.agent</key>
	<true/>
	<key>com.apple.seld</key>
	<true/>
	<key>com.apple.sidecar-hid-relay</key>
	<true/>
	<key>com.apple.storereceiptinstaller</key>
	<true/>
	<key>com.apple.suhelperd</key>
	<true/>
	<key>com.apple.symptomsd</key>
	<true/>
	<key>com.apple.symptomsd-diag</key>
	<true/>
	<key>com.apple.syncservices.uihandler</key>
	<true/>
	<key>com.apple.tipsd</key>
	<true/>
	<key>com.apple.bluetoothUIServer</key>
	<false/>
	<key>com.apple.quicklook</key>
	<true/>
	<key>com.apple.CoreServicesUIAgent</key>
	<true/>
	<key>com.apple.bluetoothuserd</key>
	<true/>
	<key>com.apple.AOSPushRelay</key>
	<true/>
	<key>com.apple.AppStoreDaemon.StorePrivilegedODRService</key>
	<true/>
	<key>com.apple.ContextStoreAgent</key>
	<true/>
	<key>com.apple.ManagedClientAgent.enrollagent</key>
	<true/>
	<key>com.apple.Safari.PasswordBreachAgent</key>
	<true/>
	<key>com.apple.Safari.SafeBrowsing.Service</key>
	<true/>
	<key>com.apple.ScreenTimeAgent</key>
	<true/>
	<key>com.apple.UserNotificationCenterAgent</key>
	<true/>
	<key>com.apple.accessibility.axassetsd</key>
	<true/>
	<key>com.apple.amsondevicestoraged</key>
	<true/>
	<key>com.apple.ap.adprivacyd</key>
	<true/>
	<key>com.apple.ap.promotedcontentd</key>
	<true/>
	<key>com.apple.appleh13camerad</key>
	<true/>
	<key>com.apple.callhistoryd</key>
	<true/>
	<key>com.apple.cameracaptured</key>
	<true/>
	<key>com.apple.cloudd</key>
	<true/>
	<key>com.apple.cmfsyncagent</key>
	<true/>
	<key>com.apple.cmio.registerassistantservice</key>
	<true/>
	<key>com.apple.contacts.postersyncd</key>
	<true/>
	<key>com.apple.contextstored</key>
	<true/>
	<key>com.apple.corespeechd_system</key>
	<true/>
	<key>com.apple.countryd</key>
	<true/>
	<key>com.apple.ctkd</key>
	<true/>
	<key>com.apple.diagnostics_agent</key>
	<true/>
	<key>com.apple.facetimemessagestored</key>
	<true/>
	<key>com.apple.findmymacmessenger</key>
	<true/>
	<key>com.apple.gamesaved</key>
	<true/>
	<key>com.apple.homeenergyd</key>
	<true/>
	<key>com.apple.icloud.searchpartyd</key>
	<true/>
	<key>com.apple.maps.destinationd</key>
	<true/>
	<key>com.apple.mdmclient.daemon</key>
	<true/>
	<key>com.apple.nearbyd</key>
	<true/>
	<key>com.apple.networkserviceproxy</key>
	<true/>
	<key>com.apple.noticeboard.agent</key>
	<true/>
	<key>com.apple.peopled</key>
	<true/>
	<key>com.apple.replicatord</key>
	<true/>
	<key>com.apple.screensharing.menuextra</key>
	<true/>
	<key>com.apple.useractivityd</key>
	<true/>
	<key>com.apple.voicebankingd</key>
	<true/>
	<key>com.apple.apfsuseragent</key>
	<true/>
	<key>com.apple.applespell</key>
	<true/>
	<key>com.apple.quicklook.ThumbnailsAgent</key>
	<true/>
	<key>com.apple.AOSHeartbeat</key>
	<true/>
	<key>com.apple.AddressBook.AssistantService</key>
	<true/>
	<key>com.apple.AssetCacheTetheratorService</key>
	<true/>
	<key>com.apple.CallHistoryPluginHelper</key>
	<true/>
	<key>com.apple.CryptoTokenKit.ahp.agent</key>
	<true/>
	<key>com.apple.FeatureAccessAgent</key>
	<true/>
	<key>com.apple.GamePolicyAgent</key>
	<true/>
	<key>com.apple.Maps.pushdaemon</key>
	<true/>
	<key>com.apple.PerfPowerServices</key>
	<true/>
	<key>com.apple.SafariNotificationAgent</key>
	<true/>
	<key>com.apple.Siri.agent</key>
	<true/>
	<key>com.apple.SiriTTSTrainingAgent</key>
	<true/>
	<key>com.apple.StatusKitAgent</key>
	<true/>
	<key>com.apple.XprotectFramework.PluginService</key>
	<true/>
	<key>com.apple.appleh16camerad</key>
	<true/>
	<key>com.apple.appplaceholdersyncd</key>
	<true/>
	<key>com.apple.askpermissiond</key>
	<true/>
	<key>com.apple.callintelligenced</key>
	<true/>
	<key>com.apple.cmio.ContinuityCaptureAgent</key>
	<true/>
	<key>com.apple.contacts.donation-agent</key>
	<true/>
	<key>com.apple.coredatad</key>
	<true/>
	<key>com.apple.coreservices.useractivityd</key>
	<true/>
	<key>com.apple.ctkbind</key>
	<true/>
	<key>com.apple.diagnosticspushd</key>
	<true/>
	<key>com.apple.duetexpertd</key>
	<true/>
	<key>com.apple.homeeventsd</key>
	<true/>
	<key>com.apple.icloud.searchpartyuseragent</key>
	<true/>
	<key>com.apple.liveactivitiesd</key>
	<true/>
	<key>com.apple.maps.mapssyncd</key>
	<true/>
	<key>com.apple.mdmclient.daemon.runatboot</key>
	<true/>
	<key>com.apple.mediacontinuityd</key>
	<true/>
	<key>com.apple.mediastream.mstreamd</key>
	<true/>
	<key>com.apple.metadata.mds.index</key>
	<true/>
	<key>com.apple.netbiosd</key>
	<true/>
	<key>com.apple.powerlogHelperd</key>
	<true/>
	<key>com.apple.remindd</key>
	<true/>
	<key>com.apple.speech.speechdatainstallerd</key>
	<true/>
	<key>com.apple.speech.synthesisserver</key>
	<true/>
	<key>com.apple.storeaccountd</key>
	<true/>
	<key>com.apple.storeuid</key>
	<true/>
	<key>com.apple.threadradiod</key>
	<true/>
	<key>com.apple.triald</key>
	<true/>
	<key>com.apple.AccessibilityVisualsAgent</key>
	<true/>
	<key>com.apple.coreservices.uiagent</key>
	<true/>
	<key>com.apple.AMPDeviceDiscoveryAgent</key>
	<true/>
	<key>com.apple.AppSSOAgent</key>
	<true/>
	<key>com.apple.AssetCache.builtin</key>
	<true/>
	<key>com.apple.CallHistorySyncHelper</key>
	<true/>
	<key>com.apple.CoreLocationAgent</key>
	<true/>
	<key>com.apple.SoftwareUpdateNotificationManager</key>
	<true/>
	<key>com.apple.UserNotificationCenter</key>
	<true/>
	<key>com.apple.XProtect.agent.scan</key>
	<true/>
	<key>com.apple.analyticsagent</key>
	<true/>
	<key>com.apple.cloudpaird</key>
	<true/>
	<key>com.apple.cmio.iOSScreenCaptureAssistant</key>
	<true/>
	<key>com.apple.cmio.videodriverkithostextension</key>
	<true/>
	<key>com.apple.coreduetd</key>
	<true/>
	<key>com.apple.coreservices.sharedfilelistd</key>
	<false/>
	<key>com.apple.diagnosticextensions.osx.spotlight.helper</key>
	<true/>
	<key>com.apple.dmd</key>
	<true/>
	<key>com.apple.fairplayd</key>
	<true/>
	<key>com.apple.feedbackd</key>
	<true/>
	<key>com.apple.followupd</key>
	<true/>
	<key>com.apple.generativeexperiencesd</key>
	<true/>
	<key>com.apple.icloud.findmydeviced</key>
	<true/>
	<key>com.apple.icloudwebd</key>
	<true/>
	<key>com.apple.identityservicesd</key>
	<true/>
	<key>com.apple.intelligenceflowd</key>
	<true/>
	<key>com.apple.locationd</key>
	<true/>
	<key>com.apple.managedcorespotlightd</key>
	<true/>
	<key>com.apple.modelmanagerd</key>
	<true/>
	<key>com.apple.parsec-fbf</key>
	<true/>
	<key>com.apple.parsecd</key>
	<true/>
	<key>com.apple.rapportd</key>
	<true/>
	<key>com.apple.rtcreportingd</key>
	<true/>
	<key>com.apple.storedownloadd</key>
	<true/>
	<key>com.apple.storekitagent</key>
	<true/>
	<key>com.apple.symptomsd-diag.agent</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<true/>
	<key>com.apple.usbctelemetryd</key>
	<true/>
	<key>com.apple.usbnotificationagent</key>
	<true/>
	<key>com.apple.weatherd</key>
	<true/>
	<key>com.apple.webkit.webpushd</key>
	<true/>
	<key>com.apple.backgroundtaskmanagement.agent</key>
	<true/>
	<key>com.apple.security.cloudkeychainproxy3</key>
	<true/>
	<key>com.apple.FolderActionsDispatcher</key>
	<true/>
	<key>com.apple.mdworker.shared</key>
	<true/>
	<key>com.apple.TextInputUI.xpc.CursorUIViewService</key>
	<true/>
	<key>com.apple.AppSSODaemon</key>
	<true/>
	<key>com.apple.AssetCacheLocatorService</key>
	<true/>
	<key>com.apple.BiomeAgent</key>
	<true/>
	<key>com.apple.FileProvider</key>
	<true/>
	<key>com.apple.InstallerDiagnostics.installerdiagd</key>
	<true/>
	<key>com.apple.Maps.mapssyncd</key>
	<true/>
	<key>com.apple.RapportUIAgent</key>
	<true/>
	<key>com.apple.RemoteManagementAgent</key>
	<true/>
	<key>com.apple.amsaccountsd</key>
	<true/>
	<key>com.apple.assistant_cdmd</key>
	<true/>
	<key>com.apple.audioanalyticsd</key>
	<false/>
	<key>com.apple.cdpd</key>
	<true/>
	<key>com.apple.ckdiscretionaryd</key>
	<true/>
	<key>com.apple.cloudsettingssyncagent</key>
	<true/>
	<key>com.apple.companiond</key>
	<true/>
	<key>com.apple.devicemanagementclient.managedeventsd</key>
	<true/>
	<key>com.apple.ecosystemagent</key>
	<true/>
	<key>com.apple.familycircled</key>
	<true/>
	<key>com.apple.findmymacd</key>
	<true/>
	<key>com.apple.iCloudNotificationAgent</key>
	<true/>
	<key>com.apple.iCloudUserNotificationsd</key>
	<true/>
	<key>com.apple.icdd</key>
	<true/>
	<key>com.apple.imagent</key>
	<true/>
	<key>com.apple.imautomatichistorydeletionagent</key>
	<true/>
	<key>com.apple.imcore.imtransferagent</key>
	<true/>
	<key>com.apple.intelligentroutingd</key>
	<true/>
	<key>com.apple.managedappdistributionagent</key>
	<true/>
	<key>com.apple.managedappdistributiond</key>
	<true/>
	<key>com.apple.metadata.mdwrite</key>
	<true/>
	<key>com.apple.metrickitd</key>
	<true/>
	<key>com.apple.mobile.notification_proxy</key>
	<true/>
	<key>com.apple.mobiletimerd</key>
	<true/>
	<key>com.apple.msrpc.mdssvc</key>
	<true/>
	<key>com.apple.navd</key>
	<true/>
	<key>com.apple.notificationcenterui.agent</key>
	<true/>
	<key>com.apple.photoanalysisd</key>
	<true/>
	<key>com.apple.ptpcamerad</key>
	<true/>
	<key>com.apple.revisiond</key>
	<true/>
	<key>com.apple.routined</key>
	<true/>
	<key>com.apple.sharingd</key>
	<true/>
	<key>com.apple.sidecar-relay</key>
	<true/>
	<key>com.apple.siriactionsd</key>
	<true/>
	<key>com.apple.siriknowledged</key>
	<true/>
	<key>com.apple.softwareupdated</key>
	<true/>
	<key>com.apple.sportsd</key>
	<true/>
	<key>com.apple.spotlightknowledged</key>
	<true/>
	<key>com.apple.spotlightknowledged.importer</key>
	<true/>
	<key>com.apple.storeassetd</key>
	<true/>
	<key>com.apple.storelegacy</key>
	<true/>
	<key>com.apple.suggestd</key>
	<true/>
	<key>com.apple.swtransparencyd</key>
	<true/>
	<key>com.apple.syncservices.SyncServer</key>
	<true/>
	<key>com.apple.talagent</key>
	<true/>
	<key>com.apple.usernotificationsd</key>
	<true/>
	<key>com.apple.videosubscriptionsd</key>
	<true/>
	<key>com.apple.wifianalyticsd</key>
	<true/>
	<key>com.apple.TextInputSwitcher</key>
	<false/>
	<key>com.apple.imklaunchagent</key>
	<true/>
	<key>com.apple.mobilerepaird</key>
	<true/>
	<key>com.apple.protectedcloudstorage.protectedcloudkeysyncing</key>
	<true/>
	<key>com.apple.AppStoreDaemon.StoreAEService</key>
	<true/>
	<key>com.apple.GameOverlayUI</key>
	<true/>
	<key>com.apple.Maps.mapspushd</key>
	<true/>
	<key>com.apple.SSInvitationAgent</key>
	<true/>
	<key>com.apple.UsageTrackingAgent</key>
	<true/>
	<key>com.apple.appleseed.seedusaged.postinstall</key>
	<true/>
	<key>com.apple.assessmentagent</key>
	<true/>
	<key>com.apple.assistantd</key>
	<true/>
	<key>com.apple.backupd</key>
	<true/>
	<key>com.apple.biomesyncd</key>
	<true/>
	<key>com.apple.cmio.VDCAssistant</key>
	<true/>
	<key>com.apple.corespotlightservice</key>
	<true/>
	<key>com.apple.donotdisturbd</key>
	<true/>
	<key>com.apple.ecosystemanalyticsd</key>
	<true/>
	<key>com.apple.email.maild</key>
	<true/>
	<key>com.apple.ensemble</key>
	<true/>
	<key>com.apple.exchange.exchangesyncd</key>
	<true/>
	<key>com.apple.financed</key>
	<true/>
	<key>com.apple.findmy.findmylocateagent</key>
	<true/>
	<key>com.apple.gamed</key>
	<true/>
	<key>com.apple.helpd</key>
	<true/>
	<key>com.apple.icloudmailagent</key>
	<true/>
	<key>com.apple.intelligencecontextd</key>
	<true/>
	<key>com.apple.knowledge-agent</key>
	<true/>
	<key>com.apple.mdmclient.agent</key>
	<true/>
	<key>com.apple.mediaanalysisd</key>
	<true/>
	<key>com.apple.metadata.mds</key>
	<true/>
	<key>com.apple.mobile.softwareupdated</key>
	<true/>
	<key>com.apple.osanalytics.osanalyticshelper</key>
	<true/>
	<key>com.apple.passd</key>
	<true/>
	<key>com.apple.remotemanagementd</key>
	<true/>
	<key>com.apple.screensharing.MessagesAgent</key>
	<true/>
	<key>com.apple.siriinferenced</key>
	<true/>
	<key>com.apple.sociallayerd</key>
	<true/>
	<key>com.apple.studentd</key>
	<true/>
	<key>com.apple.videoconference.camera</key>
	<true/>
	<key>com.apple.voicememod</key>
	<true/>
	<key>com.apple.DictationIM</key>
	<true/>
	<key>com.apple.WiFiAgent</key>
	<true/>
	<key>com.apple.wifi.WiFiAgent</key>
	<true/>
	<key>com.apple.ReportCrash</key>
	<true/>
	<key>com.apple.AccessibilityUIServer</key>
	<true/>
	<key>com.apple.quicklook.ui.helper</key>
	<true/>
	<key>com.apple.AddressBook.abd</key>
	<true/>
	<key>com.apple.AirPlayUIAgent</key>
	<true/>
	<key>com.apple.AppStoreDaemon.StorePrivilegedTaskService</key>
	<true/>
	<key>com.apple.AssetCacheManagerService</key>
	<true/>
	<key>com.apple.AuthenticationServicesCore.AuthenticationServicesAgent</key>
	<true/>
	<key>com.apple.GameController.gamecontrollerd</key>
	<true/>
	<key>com.apple.InstallerDiagnostics.installerdiagwatcher</key>
	<true/>
	<key>com.apple.ModelCatalogAgent</key>
	<true/>
	<key>com.apple.Safari.History</key>
	<true/>
	<key>com.apple.SafariLaunchAgent</key>
	<true/>
	<key>com.apple.ScriptMenuApp</key>
	<true/>
	<key>com.apple.Spotlight</key>
	<true/>
	<key>com.apple.TMHelperAgent</key>
	<true/>
	<key>com.apple.XProtect.agent.scan.startup</key>
	<true/>
	<key>com.apple.accessibility.MotionTrackingAgent</key>
	<true/>
	<key>com.apple.accessibility.heard</key>
	<true/>
	<key>com.apple.amsengagementd</key>
	<true/>
	<key>com.apple.analyticsd</key>
	<true/>
	<key>com.apple.appstoreagent</key>
	<true/>
	<key>com.apple.appstorecomponentsd</key>
	<true/>
	<key>com.apple.appstored</key>
	<true/>
	<key>com.apple.apsd</key>
	<true/>
	<key>com.apple.backupd-helper</key>
	<true/>
	<key>com.apple.bookdatastored</key>
	<true/>
	<key>com.apple.calaccessd</key>
	<true/>
	<key>com.apple.chronod</key>
	<true/>
	<key>com.apple.cmio.uvcassistantextension</key>
	<true/>
	<key>com.apple.contactsd</key>
	<true/>
	<key>com.apple.corespeechd</key>
	<true/>
	<key>com.apple.corespotlightd</key>
	<true/>
	<key>com.apple.diagnosticextensions.osx.timemachine.helper</key>
	<true/>
	<key>com.apple.eligibilityd</key>
	<true/>
	<key>com.apple.fairplaydeviceidentityd</key>
	<true/>
	<key>com.apple.findmy.findmybeaconingd</key>
	<true/>
	<key>com.apple.gamepolicyd</key>
	<true/>
	<key>com.apple.geoanalyticsd</key>
	<true/>
	<key>com.apple.geodMachServiceBridge</key>
	<true/>
	<key>com.apple.icloud.findmydeviced.findmydevice-user-agent</key>
	<true/>
	<key>com.apple.idsfoundation.IDSRemoteURLConnectionAgent</key>
	<true/>
	<key>com.apple.installcoordination_proxy</key>
	<true/>
	<key>com.apple.installcoordinationd</key>
	<true/>
	<key>com.apple.itunescloudd</key>
	<true/>
	<key>com.apple.linkd</key>
	<true/>
	<key>com.apple.metadata.mds.spindump</key>
	<true/>
	<key>com.apple.milod</key>
	<true/>
	<key>com.apple.naturallanguaged</key>
	<true/>
	<key>com.apple.newsd</key>
	<true/>
	<key>com.apple.nfcd</key>
	<true/>
	<key>com.apple.perfpowermetricd</key>
	<true/>
	<key>com.apple.proactived</key>
	<true/>
	<key>com.apple.proactiveeventtrackerd</key>
	<true/>
	<key>com.apple.security.keychain-circle-notification</key>
	<true/>
	<key>com.apple.sirittsd</key>
	<true/>
	<key>com.apple.spotlightknowledged.updater</key>
	<true/>
	<key>com.apple.syncdefaultsd</key>
	<true/>
	<key>com.apple.textcomposerd</key>
	<true/>
	<key>com.apple.triald.system</key>
	<true/>
	<key>com.apple.usernoted</key>
	<true/>
	<key>com.apple.watchlistd</key>
	<true/>
	<key>com.apple.geod</key>
	<true/>
	<key>com.apple.translationd</key>
	<true/>
	<key>com.apple.bluetoothaudiod</key>
	<false/>
	<key>com.apple.speech.speechsynthesisd.arm64</key>
	<true/>
</dict>
</plist>
